@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900');
$main: #F27059;
$second: #E3D5D1;
* {
  margin: 0;
  padding: 0;
}

body {
  background: #E3D5D1;
  overflow: hidden;
}
.x {
  color: #FBD0A2;
}
.y{
color:#F27059;

}




.loader {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  overflow: hidden;
  &:before {
    position: absolute;
    top: 50%;
    content: '';
    width: 30px;
    height: 30px;
    border: 3px solid;
    border-color: transparent transparent $main transparent;
    border-radius: 100%;
    animation: 1s spin ease infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}

.container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  > * {
    margin: 5px;
  }
  font-size: 40px;
  color: $main;
}

.name {
  display: flex;
}

.left,
.right {
  z-index: 10;
  position: relative;
  width: 30px;
  height: 60px;
  overflow: hidden;
  color: #F27059;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 50px;
  transition: width 0.4s 0.1s;
}

.right:hover,
.left:hover {
  transition: width 0.4s 0.1s;
}

.left:hover {
  width: 180px;
}

.right:hover {
  width: 110px;
}

span {
  position: absolute;
}

#name {
  left: 30px;
}

.intro {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: $main;
  width: 40%;
  right: -1000px;
  margin: 0;
  height: 100vh;
  color: $second;
  font-family: 'Source Sans Pro', sans-serif;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > * {
    margin: 10px;
  }
}

.close {
  display: flex;
  justify-content: flex-end;
  width: 60%;
  font-size: 20px;
  cursor: pointer;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 63%;
  // height: 100%;
  font-size: 24px;
  transform: translateX(20px);
  font-weight: 200;
  letter-spacing: 1px;
  a {
    position: relative;
    color: #FBD1A2;
    text-decoration: none;
  }
  > * {
    margin: 10px 0;
  }
}

.about-me {
  text-align: center;
  line-height: 45px;
}

#social {
  font-size: 29px;
  > * {
    margin: 5px
  }
}

#work {
  font-size: 20px;
  margin: 40px 0;
  > * {
    margin: 5px
  }
}

.out {
  transition: 1s all ease;
  transform: translateX(450px);
}

.arrow {
  display: flex;
  align-items: center;
  height: 40px;
  animation: 0.5s bounce ease infinite;
  cursor: pointer;
}

@keyframes bounce {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(0);
  }
}

@media (max-width: 700px) {

  .loader {
    display: none;
  }

  .container {
    width: auto;
  }

  .intro {
    width: 100%;
  }

  .wrapper > * {
    margin: 0;
  }

  .text {
    width: 100%;
   display: block;
    text-align: center;
    z-index: -1;
    margin: 0;
    transform: translateX(0);
    font-weight: 400;
    font-size: 20px;
  }

  .close {
    width: 90%;
  }
}



.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F27059;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}
